@model IEnumerable<footty.Models.Stadium>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row">
    <div class="col-sm-2" style="position:fixed">
        <h4>Filters</h4>
        <form asp-action="Index">
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Min. capacity:</label>
                <input name = "min" type="number" class="form-control" id="min" placeholder="From" value='@ViewData["min"]'>
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Max. capacity:</label>
                <input name = "max" type="number" class="form-control" id="max" placeholder="To" value='@ViewData["max"]'>
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">City:</label>
                <select class="form-select" aria-label="Club" name="city">
                    <option value="" selected>@ViewData["city"]</option>
                    <option value=""></option>
                    @foreach (var item in (String[])ViewData["cities"]!)
                    {
                        <option value=@item>@item</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary" value="Index">Filter</button>
        </form> 
    </div>
    <div class="col-sm-8 offset-sm-3">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.team)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.city)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.capacity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.latitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.longitude)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.team!.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.city)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.latitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.longitude)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
