@model footty.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.can_edit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.can_edit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.token)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.favTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.favTeam!.name)
        </dd>
    </dl>
</div>
<div>
    @if (Context.Session.GetString("canEdit") == "True") {
        <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a>
        <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
