@model footty.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.team!.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opponent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opponent!.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.team_goals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.team_goals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opponent_goals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opponent_goals)
        </dd>
    </dl>
</div>
<div>
    @if (Context.Session.GetString("canEdit") == "True") {
        <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a>
        <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
